
@{
    ViewData["Title"] = "Member Page";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Alpha</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
</head>
<body>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Members</h1>
        <div class="btn-toolbar">
            <button href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#addProjectModal"
                    type="button"
                    class="btn btnAdd me-3">
                + Add Members
            </button>
        </div>
    </div>
    <ul class="nav mb-4 border-bottom">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-grid me-1"></i>All Members
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-play-circle me-1"></i>Active Members
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-check-circle me-1"></i>Inactive Members
            </a>
        </li>
    </ul>
<div class="row g-5">
    <div class="col-12 col-md-12 col-lg-3">
        <div class="card shadow-sm h-100 rounded-end-5 rounded-bottom-5">
            <div class="card-body">
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <div class="dropdown ms-auto">
                            <button class="btn btn-sm btn-link text-muted p-0"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="20"
                                     height="20"
                                     fill="currentColor"
                                     class="bi bi-three-dots-vertical"
                                     viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>Edit Member</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item text-danger" href="#">
                                        <i class="bi bi-trash me-2"></i>Delete
                                        Member
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="/images/member-template-1.svg"
                             alt="Project 1" />
                    </div>
                </div>
                <div class="text-center">
                    <h4>Emil Begovic</h4>
                    <div class="w-50 mx-auto">
                        <p class="p-2 rounded-3" style="background: #f0f1f5">
                            Chief Executive Officer
                        </p>
                    </div>
                    <div class="mb-3">
                        <small class="d-block mb-1">
                            <i class="bi bi-envelope-fill me-1"></i>emil@domain.com
                        </small>
                        <small class="d-block">
                            <i class="bi bi-telephone-fill me-1"></i>
                            +46 123-456-7890
                        </small>
                    </div>
                    <div class="w-75 mx-auto rounded-3"
                         style="background: #f0f1f5">
                        <p class="p-3">Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-3">
        <div class="card shadow-sm h-100 rounded-end-5 rounded-bottom-5">
            <div class="card-body">
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <div class="dropdown ms-auto">
                            <button class="btn btn-sm btn-link text-muted p-0"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="20"
                                     height="20"
                                     fill="currentColor"
                                     class="bi bi-three-dots-vertical"
                                     viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>Edit Member</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item text-danger" href="#">
                                        <i class="bi bi-trash me-2"></i>Delete
                                        Member
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="/images/member-template-1.svg"
                             alt="Project 1" />
                    </div>
                </div>
                <div class="text-center">
                    <h4>Emil Begovic</h4>
                    <div class="w-50 mx-auto">
                        <p class="p-2 rounded-3" style="background: #f0f1f5">
                            Chief Executive Officer
                        </p>
                    </div>
                    <div class="mb-3">
                        <small class="d-block mb-1">
                            <i class="bi bi-envelope-fill me-1"></i>emil@domain.com
                        </small>
                        <small class="d-block">
                            <i class="bi bi-telephone-fill me-1"></i>
                            +46 123-456-7890
                        </small>
                    </div>
                    <div class="w-75 mx-auto rounded-3"
                         style="background: #f0f1f5">
                        <p class="p-3">Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-3">
        <div class="card shadow-sm h-100 rounded-end-5 rounded-bottom-5">
            <div class="card-body">
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <div class="dropdown ms-auto">
                            <button class="btn btn-sm btn-link text-muted p-0"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="20"
                                     height="20"
                                     fill="currentColor"
                                     class="bi bi-three-dots-vertical"
                                     viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>Edit Member</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item text-danger" href="#">
                                        <i class="bi bi-trash me-2"></i>Delete
                                        Member
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="/images/member-template-1.svg"
                             alt="Project 1" />
                    </div>
                </div>
                <div class="text-center">
                    <h4>Emil Begovic</h4>
                    <div class="w-50 mx-auto">
                        <p class="p-2 rounded-3" style="background: #f0f1f5">
                            Chief Executive Officer
                        </p>
                    </div>
                    <div class="mb-3">
                        <small class="d-block mb-1">
                            <i class="bi bi-envelope-fill me-1"></i>emil@domain.com
                        </small>
                        <small class="d-block">
                            <i class="bi bi-telephone-fill me-1"></i>
                            +46 123-456-7890
                        </small>
                    </div>
                    <div class="w-75 mx-auto rounded-3"
                         style="background: #f0f1f5">
                        <p class="p-3">Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-3">
        <div class="card shadow-sm h-100 rounded-end-5 rounded-bottom-5">
            <div class="card-body">
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <div class="dropdown ms-auto">
                            <button class="btn btn-sm btn-link text-muted p-0"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="20"
                                     height="20"
                                     fill="currentColor"
                                     class="bi bi-three-dots-vertical"
                                     viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-pencil me-2"></i>Edit Member</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item text-danger" href="#">
                                        <i class="bi bi-trash me-2"></i>Delete
                                        Member
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="/images/member-template-1.svg"
                             alt="Project 1" />
                    </div>
                </div>
                <div class="text-center">
                    <h4>Emil Begovic</h4>
                    <div class="w-50 mx-auto">
                        <p class="p-2 rounded-3" style="background: #f0f1f5">
                            Chief Executive Officer
                        </p>
                    </div>
                    <div class="mb-3">
                        <small class="d-block mb-1">
                            <i class="bi bi-envelope-fill me-1"></i>emil@domain.com
                        </small>
                        <small class="d-block">
                            <i class="bi bi-telephone-fill me-1"></i>
                            +46 123-456-7890
                        </small>
                    </div>
                    <div class="w-75 mx-auto rounded-3"
                         style="background: #f0f1f5">
                        <p class="p-3">Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
