@model CustomerViewModel
@{
    ViewData["Title"] = "Edit Customer";
}

<div class="modal fade"
     id="editCustomerModal"
     tabindex="-1"
     aria-labelledby="editCustomerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0 position-absolute w-100">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="text-center my-5 px-3">
                <h1 class="modal-title px-3 text-center" id="editCustomerModalLabel">
                    Edit Customer
                </h1>
            </div>
            <div class="modal-body">
                <div class="container-fluid px-4 ">
                    <form asp-action="Edit" method="post" id="editServiceForm" data-validate="true">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="Edit_Form_Id" name="Form.Id" />
                        <div class="mb-3">
                            <label for="Edit_Form_CompanyName" class="form-label">Company Name *</label>
                            <input type="text"
                                   name="Form.CompanyName"
                                   class="form-control formBorder"
                                   id="Edit_Form_CompanyName"
                                   placeholder="Enter company name" 
                                   required />
                            <span class="text-danger" asp-validation-for="Form.CompanyName"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Edit_Form_ContactName" class="form-label">Contact Person</label>
                            <input type="text"
                                   name="Form.ContactName"
                                   class="form-control formBorder"
                                   id="Edit_Form_ContactName"
                                   placeholder="Enter contact person's name" />
                            <span class="text-danger" asp-validation-for="Form.ContactName"></span>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="Edit_Form_Email" class="form-label">Email Address</label>
                                <input type="email"
                                       name="Form.Email"
                                       class="form-control formBorder"
                                       id="Edit_Form_Email"
                                       placeholder="Enter email address" />
                                <span class="text-danger" asp-validation-for="Form.Email"></span>
                            </div>
                            <div class="col">
                                <label for="Edit_Form_PhoneNumber" class="form-label">Phone Number</label>
                                <input type="tel"
                                       name="Form.PhoneNumber"
                                       class="form-control formBorder"
                                       id="Edit_Form_PhoneNumber"
                                       placeholder="Enter phone number" />
                                <span class="text-danger" asp-validation-for="Form.PhoneNumber"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Edit_Form_Address" class="form-label">Address</label>
                            <input type="text"
                                   name="Form.Address"
                                   class="form-control formBorder"
                                   id="Edit_Form_Address"
                                   placeholder="Enter street address" />
                            <span class="text-danger" asp-validation-for="Form.Address"></span>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="Edit_Form_City" class="form-label">City</label>
                                <input type="text"
                                       name="Form.City"
                                       class="form-control formBorder"
                                       id="Edit_Form_City"
                                       placeholder="Enter city" />
                                <span class="text-danger" asp-validation-for="Form.City"></span>
                            </div>
                            <div class="col">
                                <label for="Edit_Form_Country" class="form-label">Country</label>
                                <input type="text"
                                       name="Form.Country"
                                       class="form-control formBorder"
                                       id="Edit_Form_Country"
                                       placeholder="Enter country" />
                                <span class="text-danger" asp-validation-for="Form.Country"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-4 ">
                            <button type="submit" class="btnAuth">Update Customer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>